
<header class="h-28 bg-dark700">
  <i class="fa-solid fa-bars fa-3x hamburguer" onclick="show()"></i>
  <i class="fa-solid fa-x fa-3x x" onclick="fechar()"></i>
  <div class="menu">
    <a href="/login/logout">Sair</a>
  </div>
</header>