<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FoodExplorer</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/b7402403a0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles/GlobalStyle.css">
    <link rel="stylesheet" href="/styles/login.css">
    <link rel="stylesheet" href="/styles/home.css">
    <script src="js/home.js"></script>
    <script>
      tailwind.config = {
        theme: {
          colors: {
            light100: "#FFFFFF",
            light200: "#FFFAF1",
            light300: "#E1E1E6",
            light400: "#C4C4CC",
            light500: "#7C7C8A",
            light600: "#76797B",
            light700: "#4D585E",
            light800: "#000405",
            light900: "#00070A",
            light1000: "#000204",

            dark100: "#000405",
            dark200: "#00070A",
            dark300: "#000204",
            dark400: "#000A0F",
            dark500: "#000C12",
            dark600: "#00111A",
            dark700: "#001119",
            dark800: "#0D161B",
            dark900: "#0D1D25",
            dark1000: "#192227",
          
            tomato100: "#750310",
          },
        }
      }
    </script> 
  </head>
  <body>