<%- include('includes/head') %>
<%- include('includes/header') %>
<div class="bg-tomato100 w-30 banner-food">
  <img src="/banner-food.png" alt="" class="img-food">
  <div class="banner-food-text">
    <h3>Sabores inigualáveis</h3>
    <p>Sinta o cuidado do preparo com ingredientes selecionados.</p>
  </div>
</div>

<div class="div">
    <div class="carrosel">
      <div class="container-carrosel-home" id="img-carrosel">
        <div class="card-carrosel-home">
          <img src="/Mask group-1.png" alt="">
        </div>
        <div class="card-carrosel-home">
          <img src="/Mask group-2.png" alt="">
        </div>
        <div class="card-carrosel-home">
          <img src="/Mask group-3.png" alt="">
        </div>
        <div class="card-carrosel-home">
          <img src="/Mask group-4.png" alt="">
        </div>
        <div class="card-carrosel-home">
          <img src="/Mask group-5.png" alt="">
        </div>
        <div class="card-carrosel-home">
          <img src="/Mask group-6.png" alt="">
        </div>
        <div class="card-carrosel-home">
          <img src="/Mask group-7.png" alt="">
        </div>
        <div class="card-carrosel-home">
          <img src="/Mask group-8.png" alt="">
        </div>
        <div class="card-carrosel-home">
          <img src="/Mask group-9.png" alt="">
        </div>
        <div class="card-carrosel-home">
          <img src="/Mask group-10.png" alt="">
        </div>
        <div class="card-carrosel-home">
          <img src="/Mask group-11.png" alt="">
        </div>
        <div class="card-carrosel-home">
          <img src="/Mask group.png" alt="">
        </div>
    </div>
  </div>
  <a class="text-white100 text-6xl right-[-20px] top-0 absolute" onclick="carroselRight()">></a>
  <a class="text-white100 text-6xl left-[-20px] top-0 absolute" onclick="carroselLeft()"><</a>
</div>
<%- include('includes/footer') %> 